vaig|test|16|VAIP1S00|anar
vares|test|16|VAIP2S00|anar
vas|test|16|VAIP2S00|anar
va|test|16|VAIP3S00|anar
vam|test|16|VAIP1P00|anar
vàrem|test|16|VAIP1P00|anar
vau|test|16|VAIP2P00|anar
vàreu|test|16|VAIP2P00|anar
van|test|16|VAIP3P00|anar
varen|test|16|VAIP3P00|anar
vaja|test|16|VASP1S0V|anar
vagi|test|16|VASP1S0Y|anar
vages|test|16|VASP2S0V|anar
vagis|test|16|VASP2S0Y|anar
vaja|test|16|VASP3S0V|anar
vagi|test|16|VASP3S0Y|anar
vàgem|test|16|VASP1P0V|anar
vàgim|test|16|VASP1P0Y|anar
vàgeu|test|16|VASP2P0V|anar
vàgiu|test|16|VASP2P0Y|anar
vagen|test|16|VASP3P0V|anar
vagin|test|16|VASP3P0Y|anar
anar|test|16|VMN00000|anar
anant|test|16|VMG00000|anar
anat|test|16|VMP00SM0|anar
anada|test|16|VMP00SF0|anar
anats|test|16|VMP00PM0|anar
anades|test|16|VMP00PF0|anar
vaig|test|16|VMIP1S00|anar
vas|test|16|VMIP2S00|anar
va|test|16|VMIP3S00|anar
anem|test|16|VMIP1P00|anar
anam|test|16|VMIP1P0B|anar
aneu|test|16|VMIP2P00|anar
anau|test|16|VMIP2P0B|anar
van|test|16|VMIP3P00|anar
anava|test|16|VMII1S00|anar
anaves|test|16|VMII2S00|anar
anava|test|16|VMII3S00|anar
anàvem|test|16|VMII1P00|anar
anàveu|test|16|VMII2P00|anar
anaven|test|16|VMII3P00|anar
aní|test|16|VMIS1S00|anar
anares|test|16|VMIS2S00|anar
anà|test|16|VMIS3S00|anar
anàrem|test|16|VMIS1P00|anar
anàreu|test|16|VMIS2P00|anar
anaren|test|16|VMIS3P00|anar
aniré|test|16|VMIF1S00|anar
iré|test|16|VMIF1S00|anar
aniràs|test|16|VMIF2S00|anar
iràs|test|16|VMIF2S00|anar
anirà|test|16|VMIF3S00|anar
irà|test|16|VMIF3S00|anar
anirem|test|16|VMIF1P00|anar
irem|test|16|VMIF1P00|anar
anireu|test|16|VMIF2P00|anar
ireu|test|16|VMIF2P00|anar
aniran|test|16|VMIF3P00|anar
iran|test|16|VMIF3P00|anar
aniria|test|16|VMIC1S00|anar
iria|test|16|VMIC1S00|anar
aniries|test|16|VMIC2S00|anar
iries|test|16|VMIC2S00|anar
aniria|test|16|VMIC3S00|anar
iria|test|16|VMIC3S00|anar
aniríem|test|16|VMIC1P00|anar
iríem|test|16|VMIC1P00|anar
aniríeu|test|16|VMIC2P00|anar
iríeu|test|16|VMIC2P00|anar
anirien|test|16|VMIC3P00|anar
irien|test|16|VMIC3P00|anar
vaja|test|16|VMSP1S0V|anar
vagi|test|16|VMSP1S0Y|anar
vages|test|16|VMSP2S0V|anar
vagis|test|16|VMSP2S0Y|anar
vaja|test|16|VMSP3S0V|anar
vagi|test|16|VMSP3S0Y|anar
anem|test|16|VMSP1P00|anar
aneu|test|16|VMSP2P00|anar
vagen|test|16|VMSP3P0V|anar
vagin|test|16|VMSP3P0Y|anar
anés|test|16|VMSI1S01|anar
anara|test|16|VMSI1S03|anar
anàs|test|16|VMSI1S07|anar
anessis|test|16|VMSI2S02|anar
anares|test|16|VMSI2S03|anar
anassis|test|16|VMSI2S04|anar
anesses|test|16|VMSI2S05|anar
anasses|test|16|VMSI2S06|anar
anés|test|16|VMSI3S01|anar
anara|test|16|VMSI3S03|anar
anàs|test|16|VMSI3S07|anar
anéssim|test|16|VMSI1P02|anar
anàrem|test|16|VMSI1P03|anar
anàssim|test|16|VMSI1P04|anar
anéssem|test|16|VMSI1P05|anar
anàssem|test|16|VMSI1P06|anar
anéssiu|test|16|VMSI2P02|anar
anàreu|test|16|VMSI2P03|anar
anàssiu|test|16|VMSI2P04|anar
anésseu|test|16|VMSI2P05|anar
anàsseu|test|16|VMSI2P06|anar
anessin|test|16|VMSI3P02|anar
anaren|test|16|VMSI3P03|anar
anassin|test|16|VMSI3P04|anar
anessen|test|16|VMSI3P05|anar
anassen|test|16|VMSI3P06|anar
vés|test|16|VMM02S00|anar
vaja|test|16|VMM03S0V|anar
vagi|test|16|VMM03S0Y|anar
anem|test|16|VMM01P00|anar
anau|test|16|VMM02P0B|anar
aneu|test|16|VMM02P0X|anar
vagen|test|16|VMM03P0V|anar
vagin|test|16|VMM03P0Y|anar
