cantar|test|26|VMN00000|cantar
cantant|test|26|VMG00000|cantar
cantat|test|26|VMP00SM0|cantar
cantada|test|26|VMP00SF0|cantar
cantats|test|26|VMP00PM0|cantar
cantades|test|26|VMP00PF0|cantar
canto|test|26|VMIP1S0C|cantar
cante|test|26|VMIP1S0V|cantar
cant|test|26|VMIP1S0B|cantar
cantes|test|26|VMIP2S00|cantar
canta|test|26|VMIP3S00|cantar
cantem|test|26|VMIP1P00|cantar
cantam|test|26|VMIP1P0B|cantar
canteu|test|26|VMIP2P00|cantar
cantau|test|26|VMIP2P0B|cantar
canten|test|26|VMIP3P00|cantar
cantava|test|26|VMII1S00|cantar
cantaves|test|26|VMII2S00|cantar
cantava|test|26|VMII3S00|cantar
cantàvem|test|26|VMII1P00|cantar
cantàveu|test|26|VMII2P00|cantar
cantaven|test|26|VMII3P00|cantar
cantí|test|26|VMIS1S00|cantar
cantares|test|26|VMIS2S00|cantar
cantà|test|26|VMIS3S00|cantar
cantàrem|test|26|VMIS1P00|cantar
cantàreu|test|26|VMIS2P00|cantar
cantaren|test|26|VMIS3P00|cantar
cantaré|test|26|VMIF1S00|cantar
cantaràs|test|26|VMIF2S00|cantar
cantarà|test|26|VMIF3S00|cantar
cantarem|test|26|VMIF1P00|cantar
cantareu|test|26|VMIF2P00|cantar
cantaran|test|26|VMIF3P00|cantar
cantaria|test|26|VMIC1S00|cantar
cantaries|test|26|VMIC2S00|cantar
cantaria|test|26|VMIC3S00|cantar
cantaríem|test|26|VMIC1P00|cantar
cantaríeu|test|26|VMIC2P00|cantar
cantarien|test|26|VMIC3P00|cantar
cante|test|26|VMSP1S0V|cantar
canti|test|26|VMSP1S0Y|cantar
cantes|test|26|VMSP2S0V|cantar
cantis|test|26|VMSP2S0Y|cantar
cante|test|26|VMSP3S0V|cantar
canti|test|26|VMSP3S0Y|cantar
cantem|test|26|VMSP1P00|cantar
canteu|test|26|VMSP2P00|cantar
canten|test|26|VMSP3P0V|cantar
cantin|test|26|VMSP3P0Y|cantar
cantés|test|26|VMSI1S01|cantar
cantara|test|26|VMSI1S03|cantar
cantàs|test|26|VMSI1S07|cantar
cantessis|test|26|VMSI2S02|cantar
cantares|test|26|VMSI2S03|cantar
cantassis|test|26|VMSI2S04|cantar
cantesses|test|26|VMSI2S05|cantar
cantasses|test|26|VMSI2S06|cantar
cantés|test|26|VMSI3S01|cantar
cantara|test|26|VMSI3S03|cantar
cantàs|test|26|VMSI3S07|cantar
cantéssim|test|26|VMSI1P02|cantar
cantàrem|test|26|VMSI1P03|cantar
cantàssim|test|26|VMSI1P04|cantar
cantéssem|test|26|VMSI1P05|cantar
cantàssem|test|26|VMSI1P06|cantar
cantéssiu|test|26|VMSI2P02|cantar
cantàreu|test|26|VMSI2P03|cantar
cantàssiu|test|26|VMSI2P04|cantar
cantésseu|test|26|VMSI2P05|cantar
cantàsseu|test|26|VMSI2P06|cantar
cantessin|test|26|VMSI3P02|cantar
cantaren|test|26|VMSI3P03|cantar
cantassin|test|26|VMSI3P04|cantar
cantessen|test|26|VMSI3P05|cantar
cantassen|test|26|VMSI3P06|cantar
canta|test|26|VMM02S00|cantar
cante|test|26|VMM03S0V|cantar
canti|test|26|VMM03S0Y|cantar
cantem|test|26|VMM01P00|cantar
cantau|test|26|VMM02P0B|cantar
canteu|test|26|VMM02P0X|cantar
canten|test|26|VMM03P0V|cantar
cantin|test|26|VMM03P0Y|cantar
