ser|test|71|VSN00000|ser
ésser|test|71|VSN00000|ser
esser|test|71|VSN0000B|ser
essent|test|71|VSG00000|ser
sent|test|71|VSG00000|ser
estat|test|71|VSP00SM0|ser
sigut|test|71|VSP00SM0|ser
estada|test|71|VSP00SF0|ser
siguda|test|71|VSP00SF0|ser
estats|test|71|VSP00PM0|ser
siguts|test|71|VSP00PM0|ser
estades|test|71|VSP00PF0|ser
sigudes|test|71|VSP00PF0|ser
só|test|71|VSIP1S00|ser
sóc|test|71|VSIP1S00|ser
ets|test|71|VSIP2S00|ser
és|test|71|VSIP3S00|ser
som|test|71|VSIP1P00|ser
sou|test|71|VSIP2P00|ser
són|test|71|VSIP3P00|ser
era|test|71|VSII1S00|ser
eres|test|71|VSII2S00|ser
era|test|71|VSII3S00|ser
érem|test|71|VSII1P00|ser
éreu|test|71|VSII2P00|ser
eren|test|71|VSII3P00|ser
fui|test|71|VSIS1S00|ser
fores|test|71|VSIS2S00|ser
fou|test|71|VSIS3S00|ser
fórem|test|71|VSIS1P00|ser
fóreu|test|71|VSIS2P00|ser
foren|test|71|VSIS3P00|ser
seré|test|71|VSIF1S00|ser
seràs|test|71|VSIF2S00|ser
serà|test|71|VSIF3S00|ser
serem|test|71|VSIF1P00|ser
sereu|test|71|VSIF2P00|ser
seran|test|71|VSIF3P00|ser
fóra|test|71|VSIC1S00|ser
seria|test|71|VSIC1S00|ser
fores|test|71|VSIC2S00|ser
series|test|71|VSIC2S00|ser
fóra|test|71|VSIC3S00|ser
seria|test|71|VSIC3S00|ser
fórem|test|71|VSIC1P00|ser
seríem|test|71|VSIC1P00|ser
fóreu|test|71|VSIC2P00|ser
seríeu|test|71|VSIC2P00|ser
foren|test|71|VSIC3P00|ser
serien|test|71|VSIC3P00|ser
siga|test|71|VSSP1S0V|ser
sigui|test|71|VSSP1S0Y|ser
sigues|test|71|VSSP2S0V|ser
siguis|test|71|VSSP2S0Y|ser
siga|test|71|VSSP3S0V|ser
sigui|test|71|VSSP3S0Y|ser
siguem|test|71|VSSP1P00|ser
sigueu|test|71|VSSP2P00|ser
siguen|test|71|VSSP3P0V|ser
siguin|test|71|VSSP3P0Y|ser
fos|test|71|VSSI1S01|ser
fóra|test|71|VSSI1S03|ser
fossis|test|71|VSSI2S02|ser
fores|test|71|VSSI2S03|ser
fosses|test|71|VSSI2S05|ser
fos|test|71|VSSI3S01|ser
fóra|test|71|VSSI3S03|ser
fóssim|test|71|VSSI1P02|ser
fórem|test|71|VSSI1P03|ser
fóssem|test|71|VSSI1P05|ser
fóssiu|test|71|VSSI2P02|ser
fóreu|test|71|VSSI2P03|ser
fósseu|test|71|VSSI2P05|ser
fossin|test|71|VSSI3P02|ser
foren|test|71|VSSI3P03|ser
fossen|test|71|VSSI3P05|ser
sigues|test|71|VSM02S00|ser
siga|test|71|VSM03S0V|ser
sigui|test|71|VSM03S0Y|ser
siguem|test|71|VSM01P00|ser
sigueu|test|71|VSM02P00|ser
siguen|test|71|VSM03P0V|ser
siguin|test|71|VSM03P0Y|ser
